* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    transition: background-color .5s;
    font-family: 'Bree Serif', serif;

}
h1 {
  text-align: center;
}
h1,h2 {
  padding: 0;
  margin: 0;
  font-family: 'Kaushan Script', cursive;

}

.bg {
    background-image: url("../images/cover1.jpg");
    height: 100%;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
iframe {
  width: 100%;
  max-height: 30%;
  background-color: rgba(255,255,255,0.9);
}
a img {
  width: 32px;
  height: 32px;
}

/* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
#caption {
  font-family: 'Kaushan Script', cursive;

}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


/* BUTTONS */
button {
position: relative;
background-color: #ffffff;
border: none;
font-size: 1em;
color: #000000;
padding: 10px 0px;
width: 100%;
text-align: center;
transition-duration: 0.4s;
text-decoration: none;
overflow: hidden;
cursor: pointer;
font-family: 'Bree Serif', serif;
}
button:hover {
  background-color: #99cc33;
}
button:focus {
  border:0.5em solid #99cc33;
}


/* MODAL */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    background-color: rgba(255,255,255,0.8);
    overflow: auto;
}
@media screen and (max-width: 600px) {
    .modal-content {
        width: 100%;
    }
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
iframe {
  max-height: 400px;
}

/* Galerie */
.row {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

.column {
    -ms-flex: 25%; /* IE10 */
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.column img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}
